@import url("https://fonts.googleapis.com/css/family=Monserrat:400,600");

body {
  margin: 0;
  font-family: 'Monserrat', sans-serif;
}

header {
  padding: 1em, 0em
  display: flex;
  justify-content: space-between;
}

section {
  margin: 2em 0em
}

p, blockquote {
  font-size: .9em;
  line-height: 1.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
text-align: center;
}

.logo {
  width: 125px;
}

.hide-mobile {
  display: none;
}

.menu {
  width: 25px;
  margin-top: 45%;
}

.welcome {
  width: 75%;
  margin: 2em auto 2em 25%;
}

.subhead {
  font-size: 1.1em;
}

.middle-container {
  width: 100%;
  background: #00c2ff;
  color: white;
  margin-top: 10%;
  padding: 2em 2em 2em;
  border-radius: 40px;
  transform: skewY(-2deg);
}

.middle-container p {
  transform: skewY(2deg);
  text-align: left;
}

.bottom-container {
  background: #f6f6f6;
  padding: 4em 0 2em;
  margin-top: -3%;
}
