@import url("https://fonts.googleapis.com/css/family=Monserrat:400,600");

body {
  margin: 0;
  font-family: 'Monserrat', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

section {
  margin: 2em 0em;
  text-align: center;
}

p {
  font-size: 1em;
  line-height: 1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
text-align: center;
}

.header {
  background: #3d444a;
  color: white;
  padding: 1em;
}

.logo {
  width: 125px;
}

.hide-mobile {
  display: none;
}

.menu {
  width: 25px;
}

.welcome-section {
  background: white;
}

.welcome-image {
  width: 100%;
  margin: 2em 2em;
}

.subhead {
  font-size: 1.5em
}

.middle-container {
  width: 100%;
  background: #00c2ff;
  color: white;
  margin: 2em 0em;
  padding: 2em 2em;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.bottom-container {
  width: 100%
  background: #f6f6f6;
  padding: 2em 2em;
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  background: #3d444a;
  color: white;
  padding: 2em 0;
}
